<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.khalid.hisnulmuslim" >

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/CustomActionBarTheme" >
        <activity
            android:name=".DuaList"
            android:label="@string/title_activity_dua_list"
            android:launchMode="singleTop">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".DuaDetail"
            android:label="@string/title_activity_dua_detail"
            android:parentActivityName=".DuaList"
            >
        </activity>
    </application>

    <uses-permission android:name="android.permission.INTERNET" />

</manifest>
